:root{
--color-logo: #2196F3;
--color-logo: #000000;
--color-logo: #FFFFFF;
--color-titel: #212121;
--color-text: #757575;
--color-background: #F5F4FA;
--color-background-dark: #2F303A;
}
/* Reset CSS */
html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button,
input,
select {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
video {
    display: block;
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: "Jost";
}

.subject-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    display: flex;
    background-color: #2f303a;
}
.subject-subtitel {
     margin-bottom: 30px;
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 2.64px;
}

.subject-subtitel-button {
    color: #ffffff;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.96px;
    margin: 0 auto;
    border-color: transparent;
    border-radius: 4px;
    background-color: #2196f3;
    padding: 10px 32px 10px 32px;
}


.footer{
    background-color:#757575;
    color: #ffffff;
}

body {
 font-family: Roboto;
    font-size: 14px;
    line-height: normal;
}
a.header-logo {
font-family: Raleway;
font-size: 26px;
font-weight: 700;
}
a.footer-logo {
font-family: Raleway;
}

.header{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0px 25px 0px;
        border-bottom: 1px solid #ccc;
}
.main-subtitel {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.42px;
}
.main-subtext {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.42px;
}

.search-button {
    font-size: 16px;
        font-style: normal;
        font-weight: 500;
}

.footer {
display: flex;
    flex-direction: column;
    background-color: #2f303a;
    height: 252px;
}

.main-item {
    font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 162.5%;
}

*,
*::after
*::before {
    box-sizing: border-box;
}
.container{
    width: 1200px;
        margin: 0 auto;
        padding-left: 12px;
        padding-right: 12px;
}
.div-container {
margin: 94px 0;
}
.nav {
    margin-right: 344px;
}
.header-list {
    column-gap: 50px;
        display: flex;
        list-style: none;
}
.Web {
    color: #2196f3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.Studio {
    color: #000000;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.header-item {
    color: #212121;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.28px;
}
.contacts {
    column-gap: 50px;
    display: flex;
}
.contacts-item {
    color: #212121;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.28px;
}
.div-container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}
.main-list {
    display: flex;
    list-style-type: none;
    margin-top: 94px;
    margin-bottom: 94px;
}
.leisure {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.leisure-social-icon {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}
.leisure-img {
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
}
.leisure-list {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-top: 50px;
}
.our-team {
    color: #000000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-top: 94px;
    margin-bottom: 50px;
}
.team-list {
    text-align: center;
    display: flex;
    gap: 30px;
    list-style-type: none;
}
.team-item {
    background-color: #FFFFFF;
    width: 270px;
    height: 368px;
}
.team {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 648px;
    background-color: #f5f4fa;
    margin-top: 94px;
}
.team-list-title {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.team-list-item{
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}
.Studio-footer {
    color: #FFFFFF;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.Web-footer {
    color: #2196f3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-top: 60px;
}
.footer-logo{
    padding-top: 60px;
}
.address {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 9px;
    color: #ffffff99;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.42px;
}
.footer-adres {
    color: #ffffffff;
}
.footer-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.42px;
    color: #ffffff99;
}
.buttons {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding-top: 94px;
    padding-bottom: 50px;
}

.button1 {
    background-color: #f5f4fa;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.625;
        letter-spacing: 0.48px;
        width: 73px;
        height: 38px;
        flex-shrink: 0;
        border: none;
        border-radius: 4px;
}
.button2 {
    background-color: #f5f4fa;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.48px;
    word-wrap: break-word;
    width: 125px;
    height: 38px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
}
.button3 {
    background-color: #f5f4fa;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.48px;
    word-wrap: break-word;
    width: 112px;
    height: 38px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
}
.button4 {
    background-color: #f5f4fa;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.48px;
    word-wrap: break-word;
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
}
.button5 {
    background-color: #f5f4fa;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.48px;
    word-wrap: break-word;
    width: 130px;
    height: 38px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
}
.section-list {
    list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 94px;
}
.section-items {
    border: 1px solid #eee;
    width: 370px;
    height: 404px;
    flex-shrink: 0;
}
.section-img {
        display: block;
        height: auto;
        max-width: 100%;
}
.section-subtitel {
        color: #212121;
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 1.08px;
        padding-left: 24px;
        padding-top: 20px;
}
.section-subtext {
        color: #757575;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.875;
        letter-spacing: 0.48px;
        padding-left: 24px;
        padding-bottom: 20px;
}
button:hover {
    background-color: #2196f3;
    color: #ffffff;
}
a:hover {
    color: #2196f3;
}
.antenna::before {
    background-image: url(img/antenna.jpg);
}
.clock::before {
    background-image: url(img/clock.jpg);
}
.diagram::before {
    background-image: url(img/diagram.jpg);
}
.astronaut::before {
    background-image: url(img/astronaut.jpg);
}
.list::before {
    content: "";
    display: block;
     width: 270px;
     height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #f5f4fa;
     background-repeat: no-repeat;
     background-size: auto;
     background-position: center;
    margin-bottom: 30px;
}
.team-items {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    width: 270px;
    height: 368px;
}
.section-items:hover {
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}
